---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About ML Readme"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Feb 1, 2024')}
	heroImage="/blog-placeholder-4.jpg"
>
	<p>
		<b>Your Source for Machine Learning, Data Science, and Artificial Intelligence.</b>
	</p>
	<p>
Welcome to ML Readme, a blog dedicated to exploring the exciting fields of machine learning, data science, and artificial intelligence. Join me, Jeremy Georges-Filteau, as I delve into the latest research papers, share practical tutorials, and keep you informed of the ever-evolving trends in these domains.

My goal is to provide you with a comprehensive understanding of these cutting-edge technologies. Whether you're a seasoned professional or just starting, ML Readme has something for everyone.

	</p>

</Layout>
