---
import General from '../layouts/General.astro'

const title = 'About ML Readme'
const desc = 'About my blog on Machine Learning, Data Science, and Artificial Intelligence.'
---

<General title={title} description={desc}>
	<b>Your Source for Machine Learning, Data Science, and Artificial Intelligence.</b>

	<p>
		Welcome to ML Readme, a blog dedicated to exploring the exciting fields of machine learning,
		data science, and artificial intelligence. Join me, Jeremy Georges-Filteau, as I delve into the
		latest research papers, share practical tutorials, and keep you informed of the ever-evolving
		trends in these domains.
	</p>

	<p>
		My goal is to provide you with a comprehensive understanding of these cutting-edge technologies.
		Whether you're a seasoned professional or just starting, ML Readme has something for everyone.
	</p>
</General>
