---
const { href, class: className, ...props } = Astro.props
const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + subpath?.[0]
---

<a href={href} class:list={[className, { 'border-b-4': isActive }, 'active: inline-block border-solid border-black p-4']} {...props}>
	<slot />
</a>
