---
const { tagline = "Section 1", center = "c" } = Astro.props;

const textClass = `px-5 pr-6 ${center == "c" ? "shrink-0" : ""}`;
---

<span class="flex items-center">
  {center == "r" || center == "c" ? <span class="h-px flex-1 bg-black" /> : ""}
  <span class={textClass}>{tagline}</span>
  {center == "l" || center == "c" ? <span class="h-px flex-1 bg-black" /> : ""}
</span>
