---
const { tagline = "Section 1", center = "c" } = Astro.props;
---

<span class="flex items-center">
  {center == "r" || center == "c" ? <span class="h-px flex-1 bg-black" /> : ""}
  {
    /* 🛡️ Sentinel: Fix potential XSS by rendering tagline natively so it gets properly escaped */
  }
  <span class:list={["px-5 pr-6", { "shrink-0": center == "c" }]}
    >{tagline}</span
  >
  {center == "l" || center == "c" ? <span class="h-px flex-1 bg-black" /> : ""}
</span>
