---
export const prerender = true
const { id, name, description, parent=false} = Astro.props
const src = '/sections/' + id
---
<li class="inline-flex items-start">
<a  href={src}>
	<span>
		{name}
	</span>
</a>
<div>
	{description}
</div>
</li>
