---
const {id, name, description} = Astro.props;

const src = "/tags/"+id;

---

<a class="group inline-flex items-start rounded-sm mr-2 px-2 py-1 ring-1 
    ring-gray-300 hover:bg-blue-100/" href={src}>
    <div class="text-gray-800  group-hover:text-blue-700 text-xs font-medium">{name}</div>
    <div hidden>{description}</div>
</a>

