---
export const prerender = true
const {id, name, description, color} = Astro.props;
const src = "/tags/"+id;
const colorStyle = "tag-isolate text-xs font-medium inline-flex items-start rounded-md px-2.5 py-0.5 text-sm " + color;
console.log(color)
---


<a class="invisible-link" href={src}>
    
</a>
<p class:list={[colorStyle]}>{name}</p>
