---
export const prerender = true
const { id, name, description, color } = Astro.props
const src = '/tags/' + id
---
<a class="invisible-link group" href={src}>
	<p class="tag-colored inline-flex items-start rounded-md px-2 py-0.5 text-xs">
		{name}
	</p>
	<div
        class="invisible w-48 py-2 mt-2 text-gray-800 bg-white border border-gray-300 rounded-lg shadow-lg opacity-0 tag-colored group-hover:opacity-100 group-hover:visible">
        <p class="px-4 py-2">{description}</p>
    </div>
</a>
<style define:vars={{ textColor: color, backgroundColor: color }}>
	.tag-colored {
		color: hsl(from var(--textColor) h 100% 10%);
		background-color: hsl(from var(--textColor) h 20% 95%);
	}
</style>
