---
export const prerender = true
const today = new Date()

const {
	links = [
		{ name: 'About us', href: '/about' },
		{ name: 'Contact us', href: '/contact' },
		{ name: 'Privacy policy', href: '/privacy' },
		{ name: 'Investor relations', href: '/invest', off: true }
	]
} = Astro.props
---

<footer class="mx-auto flex lg:max-w-5xl">
	<div class="container mx-auto px-6 py-12">
		<div class="grid-rows-auto grid grid-cols-1 gap-4 text-center lg:grid-cols-3 lg:gap-6">
			<div class="h-34 col-span-1 float-left border-2 pb-2">
				<h4>Subscribe to our newsletter</h4>
				<form>
					<input
						class="m-2 rounded-md border border-blue-300 p-2 shadow"
						type="email"
						required="true"
					/>
					<button
						class="m-2 rounded-md border border-blue-300 fill-blue-200 p-2 shadow hover:border-blue-700 hover:drop-shadow-2xl"
						>Subscribe</button
					>
				</form>
			</div>
			<div class="h-34 border-2 lg:col-span-2">
				<div class="my-2 inline-grid grid-cols-2 divide-x-2">
					<div>
						<div class="social-links"></div>
					</div>
					<div class="">
						<ul class="text-left">
							{
								links.map(
									(link) =>
										!link.off && (
											<li class="list-none">
												<a class="neutral-link" href={link.href}>
													{link.name}
												</a>
											</li>
										)
								)
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="h-16 border-2 p-3 lg:col-span-3">
				&copy; {today.getFullYear()} Jeremy Georges-Filteau. All rights reserved.
			</div>
		</div>
	</div>
</footer>
<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
