---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Jeremy Georges-Filteau. All rights reserved.
	<div class="social-links"></div>
	<a href="#" class="termly-display-preferences">Consent Preferences</a>
	<a href="/privacy">Privacy Policy></a>
	<a href="https://app.termly.io/notify/66fbfa55-de66-4cce-8e45-b0102470167e">DSAR</a>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
