---
import HeaderLink from '@components/base/HeaderLink.astro'
import { TYPEFACE } from '../consts'

const { showNewHeader } = Astro.locals
---

<header>
	<nav>
		<div class="mx-auto flex flex-wrap place-items-center items-center">
			<a class="relative items-center pl-6" href="/">
				<span class="text-lg font-semibold">{TYPEFACE}</span>
			</a>

			<div class="relative mx-auto place-self-center">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<!-- <HeaderLink href="/sections">Sections</HeaderLink>-->
				<HeaderLink href="/tags">Tags</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
		</div>
	</nav>
	{showNewHeader && <div class="text-center bg-blue-200 p-2">New Header from Statsig!</div>}
	<slot />
</header>
