---
import HeaderLink from '@components/base/HeaderLink.astro'
import { TYPEFACE } from '../consts'
import Theme from './base/Theme.astro'
---
<header>
	<nav>
		<div class="flex flex-wrap items-center mx-auto place-items-center">
			<a class="relative items-center pl-6" href="/">
				<span class="text-lg font-semibold">{"TYPEFACE"}</span>
			</a>
		
			<div class="relative mx-auto place-self-center">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/sections">Sections</HeaderLink>
				<HeaderLink href="/tags">Tags</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<Theme></Theme>
		</div>

	</nav>
	<slot></slot>
</header>


