---
import { getCollection } from 'astro:content';
import FormattedDate from '@components/base/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---


<section class="pt-6">
	<ul class="inline-grid grid-cols-2 grid-rows-8">
		{
			posts.map((post, index) => (
			<li class="first:col-span-2 list-none">
				<a  href={`/blog/${post.id}/`}>
					
					<img class="gridImage" src={post.data.cover.src} alt="" />
					<div class="text-center p-4">
						<p class:list={[index==0?"text-3xl":"text-lg", "font-semibold"]}>{post.data.title}</p>
						<FormattedDate date={post.data.pubDate} />
					</div>	
					
				</a>
			</li>
			))
		}
	</ul>
</section>