---
export const prerender = true;
import { getEntry } from 'astro:content';
import Tag from '@components/base/Tag.astro';
import FormattedDate from '@components/base/FormattedDate.astro';
import type { CollectionEntry} from 'astro:content';

type Props = {
    tags: Partial<CollectionEntry<'tags'>>[],
    pubDate: Date,
    dateUpdated?: Date
}

const {tags, pubDate, dateUpdated} = Astro.props

const postTags = await Promise.all(tags.map((tag: CollectionEntry<'tags'>) => getEntry(tag)));

---
<div>
    <div>
        <FormattedDate date={pubDate} dateUpdated={dateUpdated} />

    </div>
    <div>
        {
            postTags.map((tag) => 
                <Tag {...tag.data} />
            )
        }
    </div>
</div>
