---
import { type Socials } from "@db/supabase";

interface Props {
  social: Socials;
}
const { social } = Astro.props as Props;
import Icon from "@components/base/Icon.astro";
---

<a
  href={social.url}
  aria-label={`Follow us on ${social.name}`}
  class="focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:outline-none rounded-full inline-block"
>
  <Icon name={social.name} href={social.color} />
</a>
