---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeroImage from '../components/base/HeroImage.astro';
import type { ComponentProps } from 'astro/types';


interface Default {
    heroImage?: ComponentProps<typeof HeroImage>,
    title: string,
    description: string
}

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />
		<main class="ms:container mx-auto md:max-w-xl px-6">
            {heroImage && (<HeroImage {...heroImage}></HeroImage>)}
            <h1>{title}</h1>
            <i>{description}</i>
			<slot />
		</main>
		<Footer />
	</body>
</html>
