---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import GTM from '@blocks/GTM.astro'
import StatsigProvider from '@components/StatsigProvider';
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="flex h-screen flex-col">
		<GTM />
		<Header>
			<slot name="head-slot" />
		</Header>
		<main class="mx-auto px-6 md:container md:max-w-5xl">
			<StatsigProvider client:load>
				<slot />
			</StatsigProvider>
		</main>
		<Footer />
	</body>
</html>
