---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import GTM from '@blocks/GTM.astro'
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="flex h-screen flex-col">
		<GTM />
		<Header>
			<slot name="head-slot" />
		</Header>
		<main class="mx-auto px-6 md:container md:max-w-5xl">
			<slot />
		</main>
		<Footer />
		<!-- Floating Button (Popup) -->
		<!-- Add this script to your website. A floating feedback button will appear in the bottom-right corner. -->
		<script is:inline>
			;(function () {
				var s = document.createElement('script')
				s.src = 'https://test.productbridge.io/sdk/pb-widget.js'
				s.async = true
				s.onload = function () {
					ProductBridge.init({
						organizationId: '1a4674fd-f8ee-450f-9976-f9d6af4410eb',
						position: 'bottom-right',
						theme: 'auto',
						defaultTab: 'feedback',
						buttonColor: '#3B82F6',
						buttonText: 'Feedback',
					})
				}
				document.head.appendChild(s)
			})()
		</script>
	</body>
</html>
